---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";

---

<BaseLayout title = "Education and Training" sideBarActiveItemID="projects">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Education and Training</div>
  </div>
 
  <style>
    .bold-underline {
        font-weight: bold;
        text-decoration: underline;
    }
    .contact-info {
          font-size: 1rem; /* Equivalent to text-1xl */
          width: 100%; /* Equivalent to w-full */
          font-weight: bold; /* Equivalent to font-bold */
      }
    .italic {
          font-style: italic; /* Correct property for italic text */
      }
  </style>
  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement title="PhD - Thesis Title: Reliable 5G Emergency Wireless Communication Service">
      <p>
        Universite Bourgogne Franche Comte (UBFC) [ 24/10/2019 – 02/06/2023 ] | 
        City: Montbeliard | Country: France | Website: 
        <a href='https://theses.fr/2023UBFCD013' target='_blank' class='bold-underline'>theses.fr</a>
      </p>
    </TimeLineElement>
    
    <TimeLineElement
      title="Automotive System and Software Architecture Design"
      subtitle="Designed for leading automotive companies"
    />
    <TimeLineElement
      title="Communication protocol and Localization Algorithm Design for wireless, mobile cooperative and connected systems"
      subtitle="Implemented in several modern vehicular networks"
    />
    <TimeLineElement
      title="Optimization Techniques for Automotive Systems"
      subtitle="Developed new algorithms to enhance system efficiency"
    />
    <TimeLineElement
      title="Federated Learning for Multi-Access Edge Computing"
      subtitle="Pioneering work in distributed machine learning"
    />
</div>

</BaseLayout>
