---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug"
import TimeLineElement from "../components/cv/TimeLine.astro";

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-2 italic">Hey There 👋</div>
    <div class="text-3xl font-bold">I'm Vishaka Basnayake</div>
    <div class="text-2xl py-1">
      6GVisible System and Software Architecture Designer
    </div>
    <div class="text-2xl py-2 italic">
      Automotive Systems and Software Research | University of Oulu
    </div>
    <div class="py-2">
 
    </div>

    <style>
      .bold-underline {
          font-weight: bold;
          text-decoration: underline;
      }
      .contact-info {
            font-size: 1rem; /* Equivalent to text-1xl */
            width: 100%; /* Equivalent to w-full */
            font-weight: bold; /* Equivalent to font-bold */
        }
      .italic {
            font-style: italic; /* Correct property for italic text */
        }
    </style>
    <div class="mb-5">
      <div class="text-xl py-2 italic">Contact Details</div>
    </div>
  
    <div class="py-2 italic">
        Email: <a href="mailto:vishaka.basnayake@oulu.fi" class="bold-underline">vishaka.basnayake@oulu.fi</a><br>
    </div>
    <div class="py-2 italic">
        Work Address: <a href="https://www.oulu.fi/en/university/faculties-and-units/faculty-information-technology-and-electrical-engineering/empirical-software-engineering-software-systems-and-services" target="_blank" class="bold-underline">Empirical Software Engineering in Software, Systems and Services, Faculty of Information Technology and Electrical Engineering, University of Oulu, Finland</a>
    </div>

  <div class="mt-8">
    <a class="btn" href="https://github.com/VishakaB/vishakab.github.io" target="_blank" class="btn btn-outline ml-5">Github</a>
    <a class="btn" href="https://scholar.google.com/citations?user=W9Zq25MAAAAJ&hl=en" target="_blank"> Google Scholar</a>
    <a class="btn" href="https://www.linkedin.com/in/vishakabasnayake" target="_blank"> LinkedIn</a>
    <a class="btn" href="https://www.youtube.com/channel/UCP-gQKG5nroQ6dDIyZMs3kw" target="_blank"> Youtube</a>
    <a class="btn" href="https://www.researchgate.net/profile/Vishaka-Basnayake" target="_blank" class="btn btn-outline ml-5">Researchgate</a>
    <a class="btn" href="https://orcid.org/0000-0001-5354-1722" target="_blank" class="btn btn-outline ml-5">ORCID</a>
  </div>

  <div class="py-3">

  </div>

  <div class="mb-5">
    <div class="text-2xl w-full font-bold">Biography</div>
  </div>

  <div class="mb-10 text-justify">
    Vishaka Basnayake is a Post-Doc Researcher at <a href="https://www.oulu.fi/en/university/faculties-and-units/faculty-information-technology-and-electrical-engineering/empirical-software-engineering-software-systems-and-services" target="_blank" class="bold-underline">Empirical Software Engineering in Software, Systems and Services Unit, University of Oulu, Finland</a>
    which she joined in March 2024. Previously, she worked as a Lecturer at Sri Lanka Technological Campus, Sri Lanka, from September 2022 to February 2024. 
    She obtained her Ph.D. in Computer Science from <a href="https://www.femto-st.fr/en/Research-departments/DISC/Research-teams" target="_blank" class="bold-underline">Department of Distributed digital algorithms, mobile networks, distributed systems, verification and validation of software and embedded devices, Universite Bourgogne Franche Comte (UBFC)</a>, France, in June 2023. Prior to that, she completed her M.Sc. in Wireless Communications
    Engineering at the <a href="https://www.oulu.fi/en/apply/masters-wireless-communications-engineering" target="_blank" class="bold-underline">Center for Wireless Communications Research, University of Oulu, Finland</a>, in 2019, and her B.Sc. in 
    <a href="https://eng.pdn.ac.lk" target="_blank" class="bold-underline">Electrical and Electronic Engineering from Faculty of Engineering of University of Peradeniya, Sri Lanka,</a> in 2017.
  </div>
  <div class="mb-5">
    <div class="text-2xl w-full font-bold">Research Interests</div>
  </div>

  <div class="mb-10 text-justify">
    Her research interests include:
  </div>

  <div class="time-line-container grid gap-4 mb-10"> 
    <TimeLineElement
      title="Multi-Agent based modelling"
    />
    <TimeLineElement
      title="Automotive System and Software Architecture Design"
    />
    <TimeLineElement
      title="Communication protocol and Localization Algorithm Design for wireless, mobile cooperative and connected systems"
    />
    <TimeLineElement
      title="Optimization Techniques for Automotive Systems"
    />
    <TimeLineElement
      title="Federated Learning for  Multi-Access Edge Computing"
    />
  </div>

  <!-- <div class="mb-5">
    <div class="text-2xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Job Title at Project or Company Name"
      subtitle="From [Start Date] to [End Date] at [Company], [City], [Country]"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
    </TimeLineElement>
    <TimeLineElement
      title="Job Title at Project or Company Name"
      subtitle="From [Start Date] to [End Date] at [Company], [City], [Country]"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
    </TimeLineElement>
    <TimeLineElement
      title="Job Title at Project or Company Name"
      subtitle="From [Start Date] to [End Date] at [Company], [City], [Country]"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
    </TimeLineElement>
  </div>
  

  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">Publications {"</>"}</div>
  </div> -->

  <!-- <HorizontalCard
    title="Demo Project 1"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Demo Project 2"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Demo Project 3"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
    badge="FOSS"
  />

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + createSlug(post.data.title, post.slug)}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  } -->
</BaseLayout>
