---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug"
import TimeLineElement from "../components/cv/TimeLine.astro";

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hey there 👋</div>
    <div class="text-3xl font-bold">I'm Vishaka Basnayake</div>
    <div class="text-2xl py-1">
      System and Software Architecture Designer<br> 
      Automotive Systems and Software Research | University of Oulu
    </div>
    <div class="py-2">
 
    </div>

    <div class="mb-5">
      <div class="text-1.5xl w-full font-bold">Contact Details</div>
    </div>
  
    <style>
      .bold-underline {
          font-weight: bold;
          text-decoration: underline;
      }
      .contact-info {
            font-size: 1rem; /* Equivalent to text-1xl */
            width: 100%; /* Equivalent to w-full */
            font-weight: bold; /* Equivalent to font-bold */
        }
      .italic {
            font-style: italic; /* Correct property for italic text */
        }
  </style>

    <div class="py-2 contact-info">
        Email: <a href="mailto:vishaka.basnayake@oulu.fi" class="bold-underline">vishaka.basnayake@oulu.fi</a><br>
    </div>
    <div class="py-2 contact-info">
        Work Address: <a href="https://www.oulu.fi/en/university/faculties-and-units/faculty-information-technology-and-electrical-engineering/empirical-software-engineering-software-systems-and-services" target="_blank" class="bold-underline">Empirical Software Engineering in Software, Systems and Services, Faculty of Information Technology and Electrical Engineering, University of Oulu, Finland</a>
    </div>

  <div class="mt-8">
    <a class="btn" href="https://github.com/VishakaB/vishakab.github.io" target="_blank" class="btn btn-outline ml-5">Github</a>
    <a class="btn" href="https://scholar.google.com/citations?user=W9Zq25MAAAAJ&hl=en" target="_blank"> Google Scholar</a>
    <a class="btn" href="https://www.linkedin.com/in/vishakabasnayake" target="_blank"> LinkedIn</a>
    <a class="btn" href="https://www.youtube.com/channel/UCP-gQKG5nroQ6dDIyZMs3kw" target="_blank"> Youtube</a>
    <a class="btn" href="https://www.researchgate.net/profile/Vishaka-Basnayake" target="_blank" class="btn btn-outline ml-5">Researchgate</a>
    <a class="btn" href="https://orcid.org/0000-0001-5354-1722" target="_blank" class="btn btn-outline ml-5">ORCID</a>
  </div>

  <div class="py-3">

  </div>

  <div class="mb-5">
    <div class="text-2xl w-full font-bold">About Me</div>
  </div>

  <div class="mb-10 text-justify">
    Vishaka Basnayake earned her Ph.D. in Computer Science from the Universite Bourgogne Franche Comte (UBFC), France, in June 2023. Prior to that, she completed her M.Sc. in Wireless Communications
    Engineering at the University of Oulu, Finland, in 2019, and her B.Sc. in Electrical and Electronic Engineering from Faculty of Engineering of University of Peradeniya, Sri Lanka, in 2017. Her research interests encompass a range of topics, including Short range D2D Communication in Cellular Wireless networks, 
    Asynchronous Non orthogonal Multiple Access, Optimization, Localization, Network Protocol Design, and Federated Learning.
  </div>

  <div class="mb-5">
    <div class="text-2xl w-full font-bold">Research Interests</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Title Name"
      subtitle="[start year] to [end year] at [Study Center Name], [City], [Country]"
    />
    <TimeLineElement
      title="Title Name"
      subtitle="[start year] to [end year] at [Study Center Name], [City], [Country]"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Job Title at Project or Company Name"
      subtitle="From [Start Date] to [End Date] at [Company], [City], [Country]"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
    </TimeLineElement>
    <TimeLineElement
      title="Job Title at Project or Company Name"
      subtitle="From [Start Date] to [End Date] at [Company], [City], [Country]"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
    </TimeLineElement>
    <TimeLineElement
      title="Job Title at Project or Company Name"
      subtitle="From [Start Date] to [End Date] at [Company], [City], [Country]"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
    </TimeLineElement>
  </div>
  

  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">Publications {"</>"}</div>
  </div>

  <!-- <HorizontalCard
    title="Demo Project 1"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Demo Project 2"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Demo Project 3"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
    badge="FOSS"
  />

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + createSlug(post.data.title, post.slug)}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  } -->
</BaseLayout>
