---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug"
import TimeLineElement from "../components/cv/TimeLine.astro";
import QAItem from "../components/QAItem.astro";


const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
const last_posts = posts.slice(0, 3);
---

<BaseLayout title = "Home" sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <!-- <div class="text-xl py-2 italic">Hey There 👋</div> -->
    <div class="text-2xl w-full font-bold">Vishaka Basnayake</div>

    <div class="py-2">
   
    </div>

    <style>
      .bold-underline {
          font-weight: bold;
          text-decoration: underline;
      }
      .contact-info {
            font-size: 1rem; /* Equivalent to text-1xl */
            width: 100%; /* Equivalent to w-full */
            font-weight: bold; /* Equivalent to font-bold */
        }
      .italic {
            font-style: italic; /* Correct property for italic text */
        }
    /* Base styles */
    /* body {
      font-family: Arial, sans-serif;
      transition: background-color 0.3s, color 0.3s;
    } */

    /* Light theme */
    .light-theme {
      background-color: white;
      color: black;
    }

    /* Dark theme */
    .dark-theme {
      background-color: #121212;
      color: white;
    }

    /* Button styles */
    .theme-toggle-btn {
      position: fixed;
      top: 10px;
      right: 10px;
      padding: 10px 20px;
      background-color: #007bff;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    .theme-toggle-btn:hover {
      background-color: #0056b3;
    }
    </style>
        
    <div class="mb-5">
      <div class="text-xl py-1 italic">Contact Details</div>
    </div>
  
    <div class="py-2 italic">
        Email: <a href="mailto:vishaka.basnayake@oulu.fi" class="bold-underline">vishaka.basnayake@oulu.fi</a>, <a href="mailto:vishakabasnayake@gmail.com" class="bold-underline">vishakabasnayake@gmail.com</a><br>
    </div>
    <div class="py-2 italic">
        Work Address: Empirical Software Engineering in Software, Systems and Services, University of Oulu, Finland <a href="https://maps.app.goo.gl/QwkHSReJRAqLphPP8" target="_blank" class="bold-underline">(Map)</a>
    </div>

  <div class="mt-8">
    <a class="btn" href="https://github.com/VishakaB/vishakab.github.io" target="_blank" class="btn btn-outline ml-5">Github</a>
    <a class="btn" href="https://scholar.google.com/citations?user=W9Zq25MAAAAJ&hl=en" target="_blank"> Google Scholar</a>
    <a class="btn" href="https://www.linkedin.com/in/vishakabasnayake" target="_blank"> LinkedIn</a>
    <a class="btn" href="https://www.youtube.com/channel/UCP-gQKG5nroQ6dDIyZMs3kw" target="_blank"> Youtube</a>
    <a class="btn" href="https://www.researchgate.net/profile/Vishaka-Basnayake" target="_blank" class="btn btn-outline ml-5">Researchgate</a>
    <a class="btn" href="https://orcid.org/0000-0001-5354-1722" target="_blank" class="btn btn-outline ml-5">ORCID</a>
  </div>
  <div class="mb-5">
   <!--spacing  -->
  </div>

  <div class="mb-5">
    <div class="text-2xl w-full font-bold">Biography</div>
  </div>

  <div class="mb-10 text-justify">
    Post-Doctoral Researcher at <a href="https://www.oulu.fi/en/university/faculties-and-units/faculty-information-technology-and-electrical-engineering/empirical-software-engineering-software-systems-and-services" target="_blank" class="bold-underline">Empirical Software Engineering in Software, Systems and Services Unit, University of Oulu, Finland</a>
    from March 2024. Previously, worked as a Lecturer at Sri Lanka Technological Campus (SLTC), Sri Lanka, from September 2022 to February 2024. 
    Obtained her Ph.D. in Computer Science from <a href="https://www.femto-st.fr/en/Research-departments/DISC/Research-teams" target="_blank" class="bold-underline">Department of Distributed digital algorithms, mobile networks, distributed systems, verification and validation of software and embedded devices, Universite Bourgogne Franche Comte (UBFC)</a>, France, in June 2023, where she worked in from 2020 to 2021. 
    Continued her Ph.D. studies from 2022 to 2023 while teaching in SLTC. Prior to that, completed her M.Sc. in Wireless Communications
    Engineering at the <a href="https://www.oulu.fi/en/apply/masters-wireless-communications-engineering" target="_blank" class="bold-underline">Center for Wireless Communications Research, University of Oulu, Finland</a>, in 2019, and her B.Sc. in 
    <a href="https://eng.pdn.ac.lk" target="_blank" class="bold-underline">Electrical and Electronic Engineering from Faculty of Engineering of University of Peradeniya, Sri Lanka,</a> in 2017.
    Her research interests include multi-agent based modelling, automotive system and software architecture design, 5/6G connectivity, mobile app development.
  </div>
  <div class="mt-8">
    <!-- Add Downloadable CV Link Here -->
    <a class="btn" href="https://europa.eu/europass/eportfolio/api/eprofile/shared-profile/vishaka-basnayake/3e0c8a7f-381b-43f0-906f-50e4f780005f?view=html" download class="btn btn-outline ml-5">Link to CV</a>
  </div>

  <div class="mb-5">
    <!--spacing  -->
   </div>

  <div class="mb-5">
    <div class="text-2xl w-full font-bold">Position</div>
  </div>

  <div class="text-1xl py-2 italic">
    Post-Doctoral Researcher in <a href="https://www.oulu.fi/en/news/university-oulus-project-combines-6g-technology-and-autonomous-cars" target="_blank" class="bold-underline">6GVisible</a></div>
    <div class="text-1xl py-2 italic">
    Empirical Software Engineering in Software, Systems and Services, University of Oulu
    </div>

    <div class="py-2">
    </div>
    
  <div class="mb-5">
    <div class="text-2xl w-full font-bold">Research Area</div>
  </div>

  <div class="text-1xl py-2 italic">
    Software and System Architecture Design, Software Engineering, Autonomous Driving</div>
  
  <div class="mb-5 mt-10">
    <div class="text-2xl w-full font-bold">Self-Reflection: Questions & Answers</div>
  </div>

  <div class="mb-10">
    <QAItem question="What do I really care about in life?">
      I want to feel safe (physically, mentally, socially, financially) and live without long term regrets.
    </QAItem>

    <QAItem question="What are my daily goals?">
      <ol class="list-decimal list-inside space-y-1">
        <li>Never live with regrets</li>
        <li>Do more, advise less</li>
        <li>Learn to face failures with laughter</li>
        <li>Appreciate progress in others, thinking its a really good news!</li>
        <li>Do not expect others to get you out of difficult situations</li>
      </ol>
    </QAItem>

    <QAItem question="What are the biggest lessons you have learnt so far?">
    <ol class="list-decimal list-inside space-y-1">
     <li>My biggest lession has been knowing how to develop a discipline in myself to follow a set of tasks every day so that they became habits in my life. 
        This discipline helped me get through the difficult hurdles during my PhD.</li>
      <li>Learning that if I stop complaining about other people, but build habits to easily focus on my own habits, like changing my environment, or taking a quick fun 5 min break, I can recover soon from stress and avoid conflicts.
  </li>
    </ol> 
     </QAItem>
    <QAItem question="What kind of a person I want to become?">
      I want to become a highly disciplined person living without long term regrets.
    </QAItem>

  </div>

  <!-- <div class="mb-5">
    <div class="text-2xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Job Title at Project or Company Name"
      subtitle="From [Start Date] to [End Date] at [Company], [City], [Country]"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
    </TimeLineElement>
    <TimeLineElement
      title="Job Title at Project or Company Name"
      subtitle="From [Start Date] to [End Date] at [Company], [City], [Country]"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
    </TimeLineElement>
    <TimeLineElement
      title="Job Title at Project or Company Name"
      subtitle="From [Start Date] to [End Date] at [Company], [City], [Country]"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
    </TimeLineElement>
  </div>
  

  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">Publications {"</>"}</div>
  </div> -->

  <!-- <HorizontalCard
    title="Demo Project 1"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Demo Project 2"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Demo Project 3"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
    badge="FOSS"
  />

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + createSlug(post.data.title, post.slug)}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  } -->
</BaseLayout>