---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title = "Teaching" sideBarActiveItemID="teaching">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Teaching</div>
  </div>

  <HorizontalCard
    title="Internet of Things [3 credits]"
    img="/IoT3.png"
    desc=""
    url="https://www.youtube.com/playlist?list=PLRvv9WE7bWXB4Xr7UbNrNnPSnYjn1cE6F"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Internet of Things [2 Credits]"
    img="/IoT2credits.png"
    desc=""
    url="https://www.youtube.com/playlist?list=PLRvv9WE7bWXAbdGv0lo5FISaejPyC5k0D"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Mobile App Development [3 Credits]"
    img="/mobileapp2.png"
    desc=""
    url="https://www.youtube.com/playlist?list=PLRvv9WE7bWXCw3PGNi0nhMtImPgDkRfmD"
  />
  <HorizontalCard
    title="Advanced Signal Processing [3 Credits]"
    img="/advancedsignalprocessing3.png"
    desc=""
    url="https://www.youtube.com/playlist?list=PLRvv9WE7bWXDkyZEzChI_2_C5MzvC81x_"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Electromagnetism [1 Credit]"
    img="/Electro.png"
    desc=""
    url="https://www.youtube.com/playlist?list=PLRvv9WE7bWXBZvgegdMYdxTA9PgSF9bzW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Microwave Engineering [2 Credits]"
    img="/Microwave.png"
    desc=""
    url="https://www.youtube.com/playlist?list=PLRvv9WE7bWXDQItREDd-W8MU20huov0yu"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Antenna and Microwave Communication [2 Credits]"
    img="/Antenna.png"
    desc=""
    url="https://youtube.com/playlist?list=PLRvv9WE7bWXBg-HGPX8ntxRt57rbOBkXO&si=JHIA3D54gVHJUD5Z"
  />
  <!-- Add above the link -->
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Satellite Communication [3 Credits]"
    img="/satellitecomm.jpg"
    desc=""
    url="https://www.youtube.com/playlist?list=PLRvv9WE7bWXCoI6kvkLvqDSoBenNt_y4O"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Introduction to Matlab Programming Workshop"
    img="/matlabworkshop.png"
    desc=""
    url="https://www.youtube.com/playlist?list=PLRvv9WE7bWXA784-KpVo_YKnxrXRsxZvp"
  />
</BaseLayout>
