---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title="Research" sideBarActiveItemID="research">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Publications</div>
  </div>
  <div class="mb-10 text-justify">
    <HorizontalCard
      title="Continuous and Responsive D2D Victim Localization for Post-Disaster Emergencies"
      img="/tmc.png"
      desc="Authors: Vishaka Basnayake; Hakim Mabed; Philippe Canalda; Dushantha Nalin K. Jayakody | Page(s): 1 - 16 | Date of Publication: 28 November 2023"    
      url="https://ieeexplore.ieee.org/document/10330058"
    />
  </div>
  
  <div class="mb-10 text-justify">
    <HorizontalCard
      title="M-Ary QAM Asynchronous-NOMA D2D Network With Cyclic Triangular-SIC Decoding Scheme Published in: IEEE Access (Volume: 11)"
      img="/mary.jpg"
      desc="The complexity of successive interference cancellation at the receiver’s end is a challenging issue in conventional non-orthogonal multiple access assisted massive wireless networks. The computational complexity of decoding increases exponentially with the number of users. Further, under realistic channel conditions, a synchronous non-orthogonal multiple access scheme is impractical in the uplink device-to-device communications. In this paper, an asynchronous non-orthogonal multiple access-based cyclic triangular successive interference cancellation scheme is proposed for a massive device-to-device network. The proposed scheme reduces the decoding complexity, energy consumption, and bit error rate of a superimposed signal received in an outband device-to-device network. More specifically, the scheme follows three consecutive stages; optimization, decoding, and re-transmission. In the optimization stage, a dual Lagrangian objective function is defined to maximize the number of data symbols decoded at the receiver by determining an optimal interference cancellation triangle, under the co-channel interference and data rate constraints. In the decoding stage, the data in the optimal interference cancellation triangle is decoded using a conventional triangular successive interference cancellation technique. Next, the remaining users’ data are decoded in sequential iterations of the proposed scheme, using the retransmissions from such users. Utilizing the successive interference cancellation characteristics, the performance of the proposed device-to-device network is defined in terms of energy efficiency, bit error rate, computational complexity, and decoding delay metrics. Moreover, the performance of the proposed decoding scheme is compared with the conventional triangular successive interference cancellation decoding scheme to demonstrate the superiority of the proposed scheme."
      url="https://ieeexplore.ieee.org/document/10018312"
    />
</div>

<div class="mb-10 text-justify">
  <HorizontalCard
    title="Adaptive Emergency Call Service for Disaster Management"
    img="/mary.jpg"
    desc="Reliable and efficient transmission of emergency calls during a massive network failure is both an indispensable and challenging task. In this paper, we propose a novel fully 3GPP and 5G compatible emergency call protocol named 5G StandalOne Service (5G-SOS). A 5G-SOS-enabled emergency service provides potential out-of-coverage victims’ devices with a way to contact the 4G/5G core network through D2D multi-hop relaying protocol. The objective of 5G-SOS is to maintain this connection even when a large fraction of the network infrastructure is destroyed. 5G-SOS is a fully distributed protocol designed to generate zero additional control traffic and to adapt its parameters based on the local emergency call congestion. Therefore, devices behave as an ad-hoc network with the common purpose to ensure the best chances for emergency call transfer within a reasonable delay. A densely populated Traverse city of Michigan, USA, with a 15,000 population, is used to evaluate 5G-SOS under extreme emergency scenarios. The performance of 5G-SOS is shown to be significant when compared with existing protocols, namely, M-HELP and FINDER, in terms of transmission success rate, end-to-end latency, network traffic control, and energy management. 5G-SOS provides satisfactory performance (success rate of 50%) even when the number of simultaneous emergency calls is very high (5000 calls over 10 min). On average, 5G-SOS performs 24.9% better than M-HELP and 73.9% than FINDER in terms of success rate. Additionally, 5G-SOS reduces the average end-end latency of the emergency calls transfer by 20.8% compared to M-HELP and 61.7% compared to FINDER."
    url="https://ieeexplore.ieee.org/document/10018312"
  />

  <div class="mb-10 text-justify">
    <HorizontalCard
      title="Enhanced Convex Hull based Clustering for High Population Density Avoidance under D2D Enabled Network"
      img="/mary.jpg"
      desc="Global pandemics such as Covid-19 have led to massive loss of human lives and strict lockdown measures worldwide. To return to a certain level of normalcy, community awareness on avoiding high population density areas is significantly important for infection prevention and control. With the availability of new telecommunication technologies, it is possible to provide highly informative population clustering data back to people using wireless aerial agents (WAAs) placed in a local area. Hence, a service architecture that allows users to access the localization of population clusters is proposed. Further, a convex hull-based clustering method, enhanced population clustering (E-PC), is proposed. This method refined the result of conventional clustering methods such as K-means and Gaussian mixture model (GMM). Moreover, the potential in E-PC to achieve the same or higher results compared to the original K-means and GMM, while consuming lesser data points, is demonstrated. On average, E-PC improved the cluster detection performance in both K-means and GMM by 18.93% under different environments such as remote, rural, suburban, and urban in terms of silhouette score. Further, E-PC allows a 15% data reduction which results in decreasing the computational cost and energy consumption of the WAAs."
      url="https://ieeexplore.ieee.org/document/9625054"
    />
  </div>

  <div class="mb-10 text-justify">
    <HorizontalCard
      title="M-HELP - Multi-Hop Emergency Call Protocol in 5G"
      img="/mary.jpg"
      desc="Wireless mobile networks are widely used during large catastrophes such as earthquakes and floods where robust networking systems are indispensable to protect human lives. The objective of this paper is to present a self-adaptive emergency call protocol that allows keeping potential victims connected to the core network through the available functional stations, called gNBs in 5G, when a fraction of gNBs in a network area are fully destructed with no access to other gNBs or the core network due to the disaster. Nowadays, the density of mobile devices and progress in outband device to device (D2D) communication provide the framework for the extension of both mobile and network coverage. We propose a novel, 3GPP compatible and completely distributed protocol called M-HELP for emergency call service for 4G/5G enabled mobile networks. We assess M-HELP efficiency under various scenarios representing different degrees of network destruction and different emergency call conditions. The tests demonstrate the significant performance of M-HELP in terms of transmission success rate, energy management, latency and control traffic load."
      url="https://ieeexplore.ieee.org/document/9306713"
    />
  </div>

  <div class="mb-10 text-justify">
    <HorizontalCard
      title="A New Green Prospective of Non-orthogonal Multiple Access (NOMA) for 5G"
      img="/mary.jpg"
      desc="Energy efficiency is a major concern in the emerging mobile cellular wireless networks since massive connectivity is to be expected with high energy requirements from the network operators. Non-orthogonal multiple access (NOMA) being the frontier multiple access scheme for 5G, there exists numerous research attempts on enhancing the energy efficiency of NOMA enabled wireless networks while maintaining its outstanding performance metrics such as high throughput, data rates and capacity maximized optimally. The concept of green NOMA is introduced in a generalized manner to identify the energy efficient NOMA schemes. These schemes will result in an optimal scenario in which the energy generated for communication is managed sustainably. Hence, the effect on the environment, economy, living beings, etc is minimized. The recent research developments are classified for a better understanding of areas which are lacking attention and needs further improvement. Also, the performance comparison of energy efficient, NOMA schemes against conventional NOMA is presented. Finally, challenges and emerging research trends, for energy efficient NOMA are discussed."
      url="https://www.mdpi.com/2078-2489/11/2/89"
    />
  </div>
</div>

<div class="mb-10 text-justify">
  <HorizontalCard
    title="Optimization of Secure Emergency Call Services in Asynchronous-NOMA D2D Network"
    img="/mary.jpg"
    desc="This paper investigates the issue of improving secrecy capacity of device-to-device (D2D) communications in disaster scenarios under the presence of jammers in close proximity. Furthermore, an asynchronous-non orthogonal multiple access (A-NOMA) assisted transmission scheme is considered due to the resource limitations and the asynchrony in signal receptions in out-of-coverage D2D scenarios. A binary optimization problem is proposed to select the optimal data which enhances the sum secrecy capacity of the transmissions. The results show that the proposed optimized scheme outperforms the conventional secrecy capacity."
    url="https://www.mdpi.com/2078-2489/11/2/89"
  />
</div>

<div class="mb-10 text-justify">
  <HorizontalCard
    title="Optimization of Secure Emergency Call Services in Asynchronous-NOMA D2D Network"
    img="/mary.jpg"
    desc="This paper investigates the issue of improving secrecy capacity of device-to-device (D2D) communications in disaster scenarios under the presence of jammers in close proximity. Furthermore, an asynchronous-non orthogonal multiple access (A-NOMA) assisted transmission scheme is considered due to the resource limitations and the asynchrony in signal receptions in out-of-coverage D2D scenarios. A binary optimization problem is proposed to select the optimal data which enhances the sum secrecy capacity of the transmissions. The results show that the proposed optimized scheme outperforms the conventional secrecy capacity."
    url="https://www.mdpi.com/2078-2489/11/2/89"
  />
</div>

  <!-- <div class="divider my-0"></div>
  <HorizontalCard
    title="Service 2"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Service 3"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Service 4"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
  /> -->
</BaseLayout>
