---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title="Research" sideBarActiveItemID="research">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Publications</div>
  </div>
  <div class="mb-10 text-justify">
    <HorizontalCard
      title="Continuous and Responsive D2D Victim Localization for Post-Disaster Emergencies"
      img="/emergencyservice.jpg"
      desc="One of the most challenging tasks in a disaster scenario is the detection and localization of victims with high accuracy and minimum delay, especially in out-of-coverage areas. In the event of a disaster that disrupts the cellular network infrastructure, emergency calls can be relayed to the core network via multi-hop D2D communications. In this paper, a localization system is proposed that uses radio measurements obtained through such D2D multi-hop assisted emergency calls to localize in-coverage and out-of-coverage devices. To address the uncertainty and gradual reception of data in real-time in this scenario, a dynamic constraint satisfaction-based Multi Victim Localization Algorithm (MVLA) is proposed. This algorithm locates multi-hop devices in a progressive propagation manner to provide fast and accurate updates on victim locations. Additionally, three modes of MVLA, namely MVLA_recent, MVLA_seq, and MVLA_all are proposed. Simulation results demonstrate that MVLA_all has a lower localization error compared to MVLA_recent and MVLA_seq. Moreover, MVLA_all is compared with an existing particle filtering-based localization algorithm called RSSI Monte-Carlo Boxed Localization (RSSI-MCL) under an increasing number of emergency user devices and functional gNodeBs. Results show that MVLA_all significantly outperforms the RSSI-MCL method in terms of localization accuracy and computational delay."
      url="https://ieeexplore.ieee.org/document/10330058"
    />
  </div>
  <div>
    <div class="text-3xl w-full font-bold mb-5">Publications</div>
  </div>
  <div class="mb-10 text-justify">
    <HorizontalCard
      title="M-Ary QAM Asynchronous-NOMA D2D Network With Cyclic Triangular-SIC Decoding Scheme Published in: IEEE Access (Volume: 11)"
      img="/mary.jpg"
      desc="The complexity of successive interference cancellation at the receiver’s end is a challenging issue in conventional
non-orthogonal multiple access assisted massive wireless networks. The computational complexity of decoding
increases exponentially with the number of users. Further, under realistic channel conditions, a synchronous
non-orthogonal multiple access scheme is impractical in the uplink device-to-device communications. In this
paper, an asynchronous non-orthogonal multiple access-based cyclic triangular successive interference
cancellation scheme is proposed for a massive device-to-device network. The proposed scheme reduces the
decoding complexity, energy consumption, and bit error rate of a superimposed signal received in an outband
device-to-device network. More specifically, the scheme follows three consecutive stages; optimization, decoding,
and re- transmission. In the optimization stage, a dual Lagrangian objective function is defined to maximize the
number of data symbols decoded at the receiver by determining an optimal interference cancellation triangle,
under the co-channel interference and data rate constraints. In the decoding stage, the data in the optimal
interference cancellation triangle is decoded using a conventional triangular successive interference cancellation
technique. Next, the remaining users’ data are decoded in sequential iterations of the proposed scheme, using
the retransmissions from such users. Utilizing the successive interference cancellation characteristics, the
performance of the proposed device-to-device network is defined in terms of energy efficiency, bit error rate,
computational complexity, and decoding delay metrics. Moreover, the performance of the proposed decoding
scheme is compared with the conventional triangular successive interference cancellation decoding scheme to
demonstrate the superiority of the proposed scheme."
      url="https://ieeexplore.ieee.org/document/10018312"
    />
  </div>  
  <!-- <div class="divider my-0"></div>
  <HorizontalCard
    title="Service 2"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Service 3"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Service 4"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
  /> -->
</BaseLayout>
