---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title="Research" sideBarActiveItemID="research">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Publications</div>
  </div>
  <div class="mb-10 text-justify">
    <HorizontalCard
      title="Continuous and Responsive D2D Victim Localization for Post-Disaster Emergencies"
      img="/tmc.png"
      desc="Vishaka Basnayake; Hakim Mabed; Philippe Canalda; Dushantha Nalin K. Jayakody | Page(s): 1 - 16 | Date of Publication: 28 November 2023"    
      url="https://ieeexplore.ieee.org/document/10330058"
    />
  </div>
  <div class="mb-10 text-justify">
    <HorizontalCard
      title="Post-Disaster Victim Localization via D2D Communications"
      img="/localization.png"
      desc="Vishaka Basnayake; Hakim Mabed; Philippe Canalda; Dushantha Nalin K. Jayakody | Page(s): 1 - 7 | Date of Publication: 05-08 September 2023"    
      url="https://ieeexplore.ieee.org/document/10330058"
    />
  </div>
  <div class="mb-10 text-justify">
    <HorizontalCard
      title="M-Ary QAM Asynchronous-NOMA D2D Network With Cyclic Triangular-SIC Decoding Scheme Published in: IEEE Access (Volume: 11)"
      img="/mary.png"
      desc="V. Basnayake, D. N. K.Jayakody, H. Mabed, A. Kumar, T. D. P. Perera | Page(s): 1 - 15 | Date of Publication: 16 January 2023"
      url="https://ieeexplore.ieee.org/document/10018312"
    />
  </div>

<div class="mb-10 text-justify">
  <HorizontalCard
    title="Adaptive Emergency Call Service for Disaster Management"
    img="/adaptive.png"
    desc="V. Basnayake, H. Mabed, D. N. K. Jayakody, P. Canalda, and M. Beko | Page(s): 1 - 25 | Date of Publication: 29 November 2022"
    url="https://ieeexplore.ieee.org/document/10018312"
  />

  <div class="mb-10 text-justify">
    <HorizontalCard
      title="Enhanced Convex Hull based Clustering for High Population Density Avoidance under D2D Enabled Network"
      img="/convexhull.png"
      desc="Vishaka Basnayake; Hakim Mabed; Philippe Canalda; Dushantha Nalin K. Jayakody | Page(s): 1 - 7 | Date of Publication: 27-30 September 2021"
      url="https://ieeexplore.ieee.org/document/9625054"
    />
  </div>

  <div class="mb-10 text-justify">
    <HorizontalCard
      title="M-HELP - Multi-Hop Emergency Call Protocol in 5G"
      img="/mhelp.png"
      desc="Vishaka Basnayake; Hakim Mabed; Dushantha Nalin K. Jayakody; Philippe Canalda | Page(s): 1 - 7 | Date of Publication: 26 November 2020"
      url="https://ieeexplore.ieee.org/document/9306713"
    />
  </div>

  <div class="mb-10 text-justify">
    <HorizontalCard
      title="A New Green Prospective of Non-orthogonal Multiple Access (NOMA) for 5G"
      img="/noma.png"
      desc="Basnayake, V.; Jayakody, D.N.K.; Sharma, V.; Sharma, N.; Muthuchidambaranathan, P.; Mabed, H | Page(s): 1 - 32 |7 February 2020"
      url="https://www.mdpi.com/2078-2489/11/2/89"
    />
  </div>
</div>

<div class="mb-10 text-justify">
  <HorizontalCard
    title="Optimization of Secure Emergency Call Services in Asynchronous-NOMA D2D Network"
    img="/optimization.png"
    desc="Vishaka Basnayake, Ambrish Kumar, Dushantha Nalin K Jayakody| Page(s): 1 - 2 |30 October 2022 "
    url="https://www.mdpi.com/2078-2489/11/2/89"
  />
</div>



  <!-- <div class="divider my-0"></div>
  <HorizontalCard
    title="Service 2"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Service 3"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Service 4"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
  /> -->
</BaseLayout>
