---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";

---

<BaseLayout title="Work Experience" sideBarActiveItemID="services">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Work Experience</div>
  </div>
  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement title="Post Doc Researcher (March 11th 2024 - Present)">
      <p>
        Autonomous Driving System and Software Architecture Design | <a href='https://www.oulu.fi/en/university/faculties-and-units/faculty-information-technology-and-electrical-engineering/empirical-software-engineering-software-systems-and-services/m3s-current-projects' target='_blank' class='bold-underline'>M3S Unit</a> |University of Oulu
      </p>
    </TimeLineElement>

    <TimeLineElement title="University engineering lecturer (September 2019 - May 2024)">
      <ul>
        <li>-Program Lead, MSc in Electronics and Communications Engineering</li>
        <li>-Teaching (Internet of Things, Mobile App Development, Electromagnetism, Antenna and Microwave Communications)</li>
        <li>-Research (Network Protocol Design, D2D Localization Techniques, Asynchronous Non Orthogonal Multiple Access, Federated Learning, Edge Computing)</li>
      </ul>
    </TimeLineElement>

    <TimeLineElement title="Doctoral Researcher in university (November 2019 - June 2023)">
      <ul>
          <li>-Network Protocol Design for D2D based Multi-Hop Emergency Communications</li>
          <li>-Localization of Multiple Devices using D2D Data Analysis</li>
          <li>-Unsupervised Learning for Device Cluster Detection</li>
          <li>-Optimization in Asynchronous Multiple Access Schemes</li>
      </ul>
  </TimeLineElement>
  </div>

</BaseLayout>
