---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";

---

<BaseLayout title="Services" sideBarActiveItemID="services">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Work Experience</div>
  </div>
  <TimeLineElement title="Post Doc Researcher">
    <p>
      
    </p>
  </TimeLineElement>
  <TimeLineElement title="University engineering lecturer">
    <p>

    </p>
  </TimeLineElement>

  <TimeLineElement title="Research associate in university">
    <p>
    </p>
  </TimeLineElement>

  <TimeLineElement title="Research assistant in university">
    <p>
    </p>
  </TimeLineElement>
  <TimeLineElement title="Master Thesis Student (Full Time)">
    <p>
    </p>
  </TimeLineElement>
<TimeLineElement title="Teaching assistant">
  <p>
  </p>
</TimeLineElement>

</div>
</BaseLayout>
